@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .max-xs {
    max-width: 400px;
  }

  .max-sm {
    max-width: 640px;
  }

  .max-md {
    max-width: 768px;
  }

  .max-lg {
    max-width: 1024px;
  }

  .max-xl {
    max-width: 1280px;
  }

  .max-2xl {
    max-width: 1536px;
  }
}

@font-face {
  font-family: "area-variable";
  src: url("https://use.typekit.net/af/cb9059/0000000000000000774ee012/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/cb9059/0000000000000000774ee012/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/cb9059/0000000000000000774ee012/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  /*   font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.example {
  font-family: "area-variable", sans-serif;
  font-size: clamp(2.5rem, 12vw, 7rem);
  line-height: 1;
}
h2 {
  margin: 0;
  text-transform: uppercase;
  margin-left: -0.065em;
  letter-spacing: -0.105em;
  font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}
h2 i {
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 400;
}
h2 p {
  font-style: normal;
  letter-spacing: 0em;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 400;
  font-size: 1rem;
}
.text-large {
  font-size: clamp(1.5rem, 5vw, 3rem);
  max-width: 900px;
  margin: 0 0 0.85em 0;
  line-height: 1.2;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 100;
}
.card-heading {
  font-family: "area-variable", sans-serif;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  margin-left: -0.065em;
  letter-spacing: -0.105em;
  font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}

